body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: #a7a4a4;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 18px;
}

#result {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
}

