body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  }
  
  .flower-container {
  position: relative;
  }
  
  .vase {
  width: 150px;
  height: 200px;
  background-color: #7bb1c1;
  border-radius: 15px 15px 40px 40px;
  }
  
  .stem1 {
  width: 10px;
  height: 90px;
  background-color: #4CAF50;
  position: absolute;
  bottom: 425px;
  border-radius: 1px;
  }
  
  .stem2 {
  width: 10px;
  height: 90px;
  background-color: #4CAF50;
  transform: skew(-20deg);
  position: absolute;
  bottom: 425px;
  border-radius: 1px;
  right: 620px;
  }
  
  .stem3 {
  width: 10px;
  height: 90px;
  background-color: #4CAF50;
  transform: skew(20deg);
  position: absolute;
  bottom: 425px;
  border-radius: 1px;
  right: 731px;
  }
  
  .d1 {
  width: 3em;
  height: 3em;
  margin: 1em 1em;
  background-color: #4CAF50;
  position: absolute;
  right: 620px;
  bottom: 420px;
  border-radius: 100% 0;
  }
  
  .d2 {
  width: 3em;
  height: 3em;
  margin: 1em 1em;
  background-color: #4CAF50;
  position: absolute;
  right: 570px;
  bottom: 430px;
  border-radius: 100% 0;
  }
  
  .d3 {
  width: 3em;
  height: 3em;
  margin: 1em 1em;
  background-color: #4CAF50;
  position: absolute;
  right: 660px;
  bottom: 430px;
  border-radius: 0 100%;
  }
  
  .d4 {
  width: 3em;
  height: 3em;
  margin: 1em 1em;
  background-color: #4CAF50;
  position: absolute;
  right: 705px;
  bottom: 410px;
  border-radius: 0 100%;
  }
  
  .c1 {
  width: 2.5em;
  height: 2.5em;
  margin: 2em 4.5em 4em;
  border-radius: 100% 0;
  background: #32336B;
  box-shadow: -3em 3em #32336B;
  position: absolute;
  right: 637px;
  bottom: 460px;
  }
  
  .c1:before,
  .c1:after {
  content: "";
  width: 2.5em;
  height: 2.5em;
  margin: 1em 3em;
  border-radius: 0 100%;
  background: #32336B;
  position: absolute;
  left: -6em;
  top: -1em;
  box-shadow: 3em 3em #32336B;
  transform-origin: 2.75em 2.75em;
  right: 637px;
  bottom: 460px;
  }
  
  .c1:before {
  transform: rotate(-30deg);
  }
  
  .c1:after {
  transform: rotate(30deg);
  }
  
  .c1 {
  width: 2.5em;
  height: 2.5em;
  margin: 2em 4.5em 4em;
  border-radius: 100% 0;
  background: #cea3df;
  box-shadow: -3em 3em #cea3df;
  position: absolute;
  right: 637px;
  bottom: 460px;
  }
  
  .c1:before,
  .c1:after {
  content: "";
  width: 2.5em;
  height: 2.5em;
  margin: 1em 3em;
  border-radius: 0 100%;
  background: #cea3df;
  position: absolute;
  left: -6em;
  top: -1em;
  box-shadow: 3em 3em #cea3df;
  transform-origin: 2.75em 2.75em;
  right: 637px;
  bottom: 460px;
  }
  
  .c1:before {
  transform: rotate(-30deg);
  }
  
  .c1:after {
  transform: rotate(30deg);
  }
  
  .c2 {
  width: 2.5em;
  height: 2.5em;
  margin: 2em 4.5em 4em;
  border-radius: 100% 0;
  background: #f0a910;
  box-shadow: -3em 3em #f0a910;
  position: absolute;
  right: 490px;
  bottom: 460px;
  }
  
  .c2:before,
  .c2:after {
  content: "";
  width: 2.5em;
  height: 2.5em;
  margin: 1em 3em;
  border-radius: 0 100%;
  background: #f0a910;
  position: absolute;
  left: -6em;
  top: -1em;
  box-shadow: 3em 3em #f0a910;
  transform-origin: 2.75em 2.75em;
  right: 637px;
  bottom: 460px;
  }
  
  .c2:before {
  transform: rotate(-30deg);
  }
  
  .c2:after {
  transform: rotate(30deg);
  }
  
  .c3 {
  width: 2.5em;
  height: 2.5em;
  margin: 2em 4.5em 4em;
  border-radius: 100% 0;
  background: #32336B;
  box-shadow: -3em 3em #32336B;
  position: absolute;
  right: 568px;
  bottom: 460px;
  }
  
  .c3:before,
  .c3:after {
  content: "";
  width: 2.5em;
  height: 2.5em;
  margin: 1em 3em;
  border-radius: 0 100%;
  background: #32336B;
  position: absolute;
  left: -6em;
  top: -1em;
  box-shadow: 3em 3em #32336B;
  transform-origin: 2.75em 2.75em;
  right: 637px;
  bottom: 460px;
  }
  
  .c3:before {
  transform: rotate(-30deg);
  }
  
  .c3:after {
  transform: rotate(30deg);
  }
  
  .p1 {
  width: 20px;
  height: 20px;
  background: rgb(234, 245, 89);
  border-radius: 50%;
  position: absolute;
  right: 596px;
  bottom: 510px;
  }
  
  .p2 {
  width: 20px;
  height: 20px;
  background: rgb(234, 245, 89);
  border-radius: 50%;
  position: absolute;
  right: 743px;
  bottom: 510px;
  }
  
  .p3 {
  width: 20px;
  height: 20px;
  background: rgb(234, 245, 89);
  border-radius: 50%;
  position: absolute;
  right: 674px;
  bottom: 510px;
  }